<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- documentation at http://getbootstrap.com/, alternative themes at https://www.bootstrapcdn.com/bootswatch/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>

        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <title>Supplies at the CEID!: 
        {% block title %}
            Index
        {% endblock %}</title>

    </head>

    <body background="http://i.imgur.com/wgzIZpt.png">

        <div class="container">

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ url_for('index') }}"><span class="blue">Supplies at the CEID!</span></a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar">
                        {% if session.user_id %}
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{{ url_for('change_password') }}">Change Password</a></li>
                                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                            </ul>
                        {% else %}
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{{ url_for('register') }}">Register</a></li>
                                <li><a href="{{ url_for('login') }}">Log In</a></li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </nav>

            {% if get_flashed_messages() %}
                <header>
                    <div class="alert alert-info" role="alert">
                        {{ get_flashed_messages() | join(" ") }}
                    </div>
                </header>
            {% endif %}

            <main>
            {% block main %}
            <form action="{{ url_for('general_search') }}" method="post">
                <fieldset>
                <div class="form-group">
                    <input class="form-control" name="general_search" placeholder="Supply Name" type="text"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" type="submit">General Search</button>
                </div>
                <div id="center_text">
                    <strong>
                        WELCOME TO THE CEID
                    </strong>
                </div>
                <div class="section" id="section_1"><a href="{{ url_for('advanced_search') }}">Arts and Crafts Bench</a></div>
                <div class="section" id="section_2"><a href="{{ url_for('advanced_search') }}">Circuit Pieces Cabinets</a></div>
                <div class="section" id="section_3"><a href="{{ url_for('advanced_search') }}">Sewing Station</a></div>
                <div class="section" id="section_4"><a href="{{ url_for('advanced_search') }}">Computer Station</a></div>
                <div class="section" id="section_5"><a href="{{ url_for('advanced_search') }}">Handtools Station</a></div>
                <div class="section" id="section_6"><a href="{{ url_for('advanced_search') }}">Wires and Whatnot</a></div>
                <div class="section" id="section_7"><a href="{{ url_for('advanced_search') }}">3D Printers</a></div>
                </fieldset>
            </form>
    
{% endblock %}

            </main>
            
        </div>

    </body>

</html>